EMAIL=YOUR_EMAIL
EMAIL_PASSWORD=EMAIL_PASSWORD
DEBUG_DEV=True
DJANGO_ENV=development

#database
DATABASE_DEV=True
DATABASE_NAME=DB_NAME
DATABASE_USER=DB_USERNAME
DATABASE_PASSWORD=DE_PASSWORD
DATABASE_HOST=DB_HOST

#AI configuration
env=CUDA_VISIBLE_DEVICES=0
Environment=CUDA_VISIBLE_DEVICES=0
MILVUS_URI=MILVUS_URI
VLLM_API_BASE=VLLM_API_BASE
VLLM_MODEL=VLLM_MODEL
EMBEDDING_API_BASE=EMBEDDING_API_BASE