{% extends "data-hub/base.html" %}
{% load static %}

{% block title %}{{ page_title }} | Data Hub{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'assets/css/components/data-topic-detail.css' %}?v=20260306o">
{% endblock %}

{% block content %}
<section class="data-topic-detail" data-topic-detail data-topic-id="{{ topic_id }}">
  <div data-topic-detail-hero></div>
  <div data-topic-detail-body></div>
</section>
{% endblock %}

{% block script %}
<script type="module" src="{% static 'assets/js/pages/data-topic-detail.js' %}?v=20260306o"></script>
{% endblock %}
