{% extends "data-hub/base.html" %}
{% load static %}

{% block title %}{{ page_title }} | Data Hub{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'assets/css/components/initiative-detail.css' %}?v=20260310a">
{% endblock %}

{% block content %}
<div class="initiative-detail-page" data-initiative-detail-page data-initiative-id="{{ initiative_id }}">
  <div class="initiative-detail-state initiative-detail-state--loading" data-initiative-detail-loading>
    Loading initiative details...
  </div>
  <div class="initiative-detail-content" data-initiative-detail-content hidden></div>
</div>
{% endblock %}

{% block script %}
<script type="module" src="{% static 'assets/js/pages/initiative-detail.js' %}?v=20260309h"></script>
{% endblock %}
