{% load static %}

<footer class="pc-footer">
    <div class="footer-wrapper container-fluid">
        <div class="row">
            <div class="col my-1">
                <p class="m-0">© Crafted by Team MoPD</p>
            </div>
            <div class="col-auto my-1">
                <ul class="list-inline footer-link mb-0">
                    <!-- <li class="list-inline-item"><a href="#">Documentation</a></li> -->
                </ul>
            </div>
        </div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- Required Js -->
<script src="{% static 'assets/js/plugins/popper.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/simplebar.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/i18next.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/i18nextHttpBackend.min.js' %}"></script>
<script src="{% static 'assets/js/icon/custom-font.js' %}"></script>
<script src="{% static 'assets/js/script.js' %}"></script>
<script src="{% static 'assets/js/theme.js' %}"></script>
<script src="{% static 'assets/js/multi-lang.js' %}"></script>
<script src="{% static 'assets/js/plugins/feather.min.js' %}"></script>
<script>change_box_container('false');</script>
<script>layout_caption_change('true');</script>
<script>layout_rtl_change('false');</script>
<script>preset_change('preset-9');</script>
<script>main_layout_change('vertical');</script>
<script>layout_theme_contrast_change('false');</script>

<script type="module" src="{% static 'assets/js/pages/main.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
