name: Deploy Project

on:
  push:
    branches:
      - production  

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    # Step 1: Checkout the code
    - name: Checkout code
      uses: actions/checkout@v2

    # Step 2: Deploy to the server via SSH
    - name: Deploy to server via SSH
      uses: appleboy/ssh-action@v0.1.4
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USER }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        port: 22
        script: |
          # Navigate to the project directory
          cd /home/mopd/Digital_Hub
          
          # Pull the latest changes from GitHub
          git pull origin production
          
          # Activate virtual environment 
          source .venv/bin/activate  

          # Navigate to the 'core' directory (where your migrations are located)
          cd core
          
          # Run migrations
          poetry run python manage.py migrate
          
          # Collect static files
          poetry run python manage.py collectstatic --noinput
          
          # Restart the application server
          uwsgi --ini domains_uwsgi.ini
          
          # Restart the uWSGI service
          sudo systemctl restart emperor.uwsgi.service